# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 73ba45cedf63167cee17b38d6add534a354d586ecb283a35b9d3378ac42a6abbb69a683453585f4c81117071ff489f529fef8bae60bf6f05949bbf269582e1ec

test:
  secret_key_base: e78458e1857d652a8142a56fb6d9cf934ee42b3b66ca3098fdf79e69ba10ac69c4ade8886c37c733c0041875dd359726ebff4b4b99e53e951fac14f689a3f835

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
